<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Include Utilities -->
  <xacro:include filename="$(find iiwa_description)/urdf/utilities.xacro" />
  
  <!-- Tool properties -->
  <xacro:property name="tool_mass" value="0.200" />
  <xacro:property name="tool_joint_offset" value="0.00 0.00 0.00" />
  <xacro:property name="tool_link_offset" value="0.00 0.00 0.5" />
  
  <xacro:macro name="tool" params="parent *origin">

    <!--  Here we define a dummy joint between the tip of the iiwa7 and the base of the tool. 
    If there is no offset between the two, that means the tool is attached at the robot flange. -->    

    <joint name="${parent}_tool_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="tool_link_0"/>
    </joint>
  


    <!-- Here we define the geometry of the tool. We designed the tool ourselves, so we can have a mesh file that represents it (see commented lines).
    Else, one can define it using a geometric representation that approximate it, like a cylinder. -->
    <link name="tool_link_0">
      <visual>
        <origin xyz="0 0 0.15" rpy="0 0 0"/>
        <geometry>
          <!-- <mesh filename="package://iiwa_tool_description/meshes/visual/tool.stl"/> -->
          <cylinder length="0.3" radius="0.00090"/>
        </geometry>
        <material name="Red"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.15" rpy="0 0 0"/>
        <geometry>
          <!-- <mesh filename="package://iiwa_tool_description/meshes/visual/tool.stl"/> -->
          <cylinder length="0.3" radius="0.00090"/>
        </geometry>
        <material name="Red"/>
      </collision>
    </link>



    <!--  Here we define another dummy joint. It is placed at the end of the tool, so we can then attach a frame at its TCP for control -->
    <joint name="tool_tip_joint" type="fixed">
      <parent link="tool_link_0" />
      <child link = "tool_link_ee" />
      <origin xyz="${tool_link_offset}" rpy="0 0 0" />   
    </joint>
    
    <!--  The TCP frame is here defined -->
    <link name="tool_link_ee"/>
    
  </xacro:macro>
  
</robot>
