<?xml version="1.0"?>

<!-- Here we define the robot, we named it "iiwa7_tool" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa7_tool">
  
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the iiwa7 macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <!--Import the tool macro -->
  <xacro:include filename="$(find iiwa_tool_description)/urdf/tool_pendulum.xacro"/>
  
  <!--  Arguments for the iiwa7 macro  -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  
  <!--  Define the origin of your 3D space
  Here we define a box lying at 0,0,0 with some dimensions, in reality our robot is place on top of a metal cart with those dimensions.
  This will include the cart in the scene and avoid the robot to hit it when using MoveIt! 
  If you don't want to have that you can define a basic world link (see commented lines)
  -->
  
  <link name="world"/>
  
  <!-- <link name="world">
    <visual>
      <origin xyz="0 0 0.42" rpy="0 0 0"/>
      <geometry>
	<box size="0.68 0.605 0.84"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.42" rpy="0 0 0"/>
      <geometry>
	<box size="0.68 0.605 0.84"/>
      </geometry>
    </collision>
  </link>
   -->
  <gazebo reference="world">
    <static>true</static>
  </gazebo>
  
  <!-- Here we insert an iiwa7 robot in the scene, it's origin is just on top of the box previously defined. You can use 0,0,0 if you don't have that. -->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:iiwa7>

  <!-- Here we insert the tool attached to the robot end effector. -->
  <xacro:tool_pendulum parent="iiwa_link_ee">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:tool_pendulum>
  
</robot> 
